*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.counter__button {
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.counter__button_minus.disabled{
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: pointer;
}

.counter__button_plus{}

.counter__input.input {
        width: 100%;
        background-color: #fff;
        border:none;
        text-align: center;
}